[Desktop Entry]
Exec=/usr/bin/deepin-turbo-invoker  --type=dtkwidget deepin-draw %U
TZ='Asia/Shanghai'
Categories=Graphics;
Comment=Deepin Draw is a lightweight drawing tool for users to freely draw and simply edit images.
Comment[am_ET]=ዲፕኢን መሳያ
Comment[ar]=رسام ديبين
Comment[ast]=Deepin Draw
Comment[bg]=Deepin Draw
Comment[bn]=ডিপিন ড্র
Comment[ca]=Dibuix del Deepin
Comment[cs]=Kreslení
Comment[da]=Deepin Draw
Comment[de]=Deepin Zeichenprogramm
Comment[es]=Dibujos Deepin
Comment[es_419]=Dibujos Deepin
Comment[fr]=Deepin Dessin
Comment[hu]=Deepin Draw
Comment[it]=Deepin Draw
Comment[lt]=Deepin piešimas
Comment[ms]=Lukis Deepin
Comment[pl]=Rysowanie Deepin
Comment[pt]=Deepin Draw
Comment[pt_BR]=Deepin Draw
Comment[ro]=Deepin Draw
Comment[ru]=Deepin Draw
Comment[sk]=Deepin Kreslenie
Comment[sl]=Risar Deepin
Comment[tr]=Deepin Çizim
Comment[uk]=Deepin Draw
Comment[zh_CN]=画板
Comment[zh_TW]=Deepin 畫板
Exec=deepin-draw %U
GenericName=Draw
GenericName[am_ET]=ዲፕኢን መሳያ
GenericName[ar]=رسام ديبين
GenericName[ast]=Draw
GenericName[bg]=Draw
GenericName[bn]=ডিপিন ড্র
GenericName[ca]=Dibuix del
GenericName[cs]=Kreslení
GenericName[da]=Draw
GenericName[de]=Zeichenprogramm
GenericName[es]=Dibujos
GenericName[es_419]=Dibujos
GenericName[fr]=Dessin
GenericName[hu]=Draw
GenericName[it]=Draw
GenericName[lt]=piešimas
GenericName[ms]=Lukis
GenericName[pl]=Rysowanie
GenericName[pt]=Draw
GenericName[pt_BR]=Draw
GenericName[ro]=Draw
GenericName[ru]=Draw
GenericName[sk]=Kreslenie
GenericName[sl]=Risar
GenericName[tr]=Çizim
GenericName[uk]=Draw
GenericName[zh_CN]=画板
GenericName[zh_TW]=畫板
Icon=deepin-draw
MimeType=image/bmp;image/bmp24;image/ico;image/jpg;image/jpe;image/jpeg;image/jpeg24;image/jng;image/pcd;image/pcx;image/png;image/tga;image/tif;image/tiff;image/tiff24;image/psd;image/xpm;image/dds;image/gif;image/sgi;image/j2k;image/jp2;image/pct;image/webp;image/wdp;image/cr2;image/pef;image/arw;image/nef;image/icb;image/dng;image/vda;image/vst;image/raf;image/orf;image/svg;image/ptif;image/mef;image/mrw;image/xbm;application/x-ddf
Name=Draw
Name[am_ET]=ዲፕኢን መሳያ
Name[ar]=رسام ديبين
Name[ast]=Draw
Name[bg]=Draw
Name[bn]=ডিপিন ড্র
Name[ca]=Dibuix del
Name[cs]=Kreslení
Name[da]=Draw
Name[de]=Zeichenprogramm
Name[es]=Dibujos
Name[es_419]=Dibujos
Name[fr]=Dessin
Name[hu]=Draw
Name[it]=Draw
Name[lt]=piešimas
Name[ms]=Lukis
Name[pl]=Rysowanie
Name[pt]=Draw
Name[pt_BR]=Draw
Name[ro]=Draw
Name[ru]=Draw
Name[sk]=Kreslenie
Name[sl]=Risar
Name[tr]=Çizim
Name[uk]=Draw
Name[zh_CN]=画板
Name[zh_TW]=畫板
StartupNotify=false
Type=Application
X-Deepin-Vendor=user-custom
