[Desktop Entry]
Categories=Graphics;
Comment=Deepin Draw
Exec=deepin-draw %U
Icon=deepin-draw
MimeType=image/bmp;image/bmp24;image/ico;image/jpg;image/jpe;image/jpeg;image/jpeg24;image/jng;image/pcd;image/pcx;image/png;image/tga;image/tif;image/tiff;image/tiff24;image/psd;image/xpm;image/dds;image/gif;image/sgi;image/j2k;image/jp2;image/pct;image/webp;image/wdp;image/cr2;image/pef;image/arw;image/nef;image/icb;image/dng;image/vda;image/vst;image/raf;image/orf;image/svg;image/ptif;image/mef;image/mrw;image/xbm;application/x-ddf;
Name=Deepin Draw
StartupNotify=false
Type=Application

# Translations:
# Do not manually modify!
Comment[am_ET]=ዲፕኢን መሳያ
Comment[ar]=رسام ديبين
Comment[cs]=Kreslení
Comment[da]=Deepin Draw
Comment[de]=Deepin Zeichenprogramm
Comment[es]=Dibujos Deepin
Comment[es_419]=Dibujos Deepin
Comment[fr]=Deepin Dessin
Comment[hu]=Deepin Draw
Comment[it]=Deepin Draw
Comment[ms]=Lukis Deepin
Comment[pt]=Deepin Draw
Comment[pt_BR]=Deepin Draw
Comment[ru]=Deepin Draw
Comment[sl]=Risar Deepin
Comment[tr]=Deepin Çizim
Comment[uk]=Deepin Draw
Name[am_ET]=ዲፕኢን መሳያ
Name[ar]=رسام ديبين
Name[cs]=Kreslení
Name[da]=Deepin Draw
Name[de]=Deepin Zeichenprogramm
Name[es]=Dibujos Deepin
Name[es_419]=Dibujos Deepin
Name[fr]=Deepin Dessin
Name[hu]=Deepin Draw
Name[it]=Deepin Draw
Name[ms]=Lukis Deepin
Name[pt]=Deepin Draw
Name[pt_BR]=Deepin Draw
Name[ru]=Deepin Draw
Name[sl]=Risar Deepin
Name[tr]=Deepin Çizim
Name[uk]=Deepin Draw

