QLabel#FillLabel {
color: #303030;
font-size: 32px;
font-weight: 300;
}

QLabel#StrokeLabel {
color: #303030;
font-size: 13px;
font-weight: 300;
}

QLabel#BorderLabel {
color: #303030;
font-size: 13px;
font-weight: 300;
}

QLabel#AnchorNumLabel {
color: #303030;
font-size: 13px;
font-weight: 300;
}

QLabel#RadiusLabel {
color: #ffffff;
font-size: 13px;
font-weight: 300;
}
