QLabel#LogoLabel {
border-image: url(:/theme/common/images/deepin-draw-32.png);
}

PushButton#ArtBoardBtn {
qproperty-normalPic: url(:/theme/light/images/action/artboard_normal.png);
qproperty-hoverPic: url(:/theme/light/images/action/artboard_hover.png);
qproperty-pressPic: url(:/theme/light/images/action/artboard_active.png);
qproperty-checkedPic: url(:/theme/light/images/action/artboard_active.png);
}

PushButton#PictureBtn {
qproperty-normalPic: url(:/theme/light/images/action/picture_normal.png);
qproperty-hoverPic: url(:/theme/light/images/action/picture_hover.png);
qproperty-pressPic: url(:/theme/light/images/action/picture_active.png);
qproperty-checkedPic: url(:/theme/light/images/action/picture_active.png);
}

PushButton#RectBtn {
qproperty-normalPic: url(:/theme/light/images/action/rectangle_normal.png);
qproperty-hoverPic: url(:/theme/light/images/action/rectangle_hover.png);
qproperty-pressPic: url(:/theme/light/images/action/rectangle_active.png);
qproperty-checkedPic: url(:/theme/light/images/action/rectangle_active.png);
}

PushButton#OvalBtn {
qproperty-normalPic: url(:/theme/light/images/action/oval_normal.png);
qproperty-hoverPic: url(:/theme/light/images/action/oval_hover.png);
qproperty-pressPic: url(:/theme/light/images/action/oval_active.png);
qproperty-checkedPic: url(:/theme/light/images/action/oval_active.png);
}

PushButton#LineBtn {
qproperty-normalPic: url(:/theme/light/images/action/line_normal.png);
qproperty-hoverPic: url(:/theme/light/images/action/line_hover.png);
qproperty-pressPic: url(:/theme/light/images/action/line_active.png);
qproperty-checkedPic: url(:/theme/light/images/action/line_active.png);
}

PushButton#TextBtn {
qproperty-normalPic: url(:/theme/light/images/action/text_normal.png);
qproperty-hoverPic: url(:/theme/light/images/action/text_hover.png);
qproperty-pressPic: url(:/theme/light/images/action/text_active.png);
qproperty-checkedPic: url(:/theme/light/images/action/text_active.png);
}

PushButton#BlurBtn {
qproperty-normalPic: url(:/theme/light/images/action/blur_normal.png);
qproperty-hoverPic: url(:/theme/light/images/action/blur_hover.png);
qproperty-pressPic: url(:/theme/light/images/action/blur_active.png);
qproperty-checkedPic: url(:/theme/light/images/action/blur_active.png);
}

PushButton#SelectedBtn {
qproperty-normalPic: url(:/theme/light/images/action/selected_fill_normal.png);
qproperty-hoverPic: url(:/theme/light/images/action/selected_fill_hover.png);
qproperty-pressPic: url(:/theme/light/images/action/selected_fill_active.png);
qproperty-checkedPic: url(:/theme/light/images/action/selected_fill_active.png);
}

PushButton#ExportBtn {
qproperty-normalPic: url(:/theme/light/images/action/export_normal.png);
qproperty-hoverPic: url(:/theme/light/images/action/export_hover.png);
qproperty-pressPic: url(:/theme/light/images/action/export_active.png);
qproperty-checkedPic: url(:/theme/light/images/action/export_active.png);
}

QPushButton#StraightLineBtn {
border-image: url(:/theme/light/images/draw/straight_line_normal.png);
}

QPushButton#StraightLineBtn:hover {
outline: none;
background-color: rgba(0, 0, 0, 0.05);
border: solid 1px transparent;
border-radius: 3px;
border-image: url(:/theme/light/images/draw/straight_line_hover.png);
}

QPushButton#StraightLineBtn:checked {
border-image: url(:/theme/light/images/draw/straight_line_active.png);
}

QPushButton#ArbiLineBtn {
border-image: url(:/theme/light/images/draw/curve_normal.png);
}

QPushButton#ArbiLineBtn:hover {
outline: none;
background-color: rgba(0, 0, 0, 0.05);
border: solid 1px transparent;
border-radius: 3px;
border-image: url(:/theme/light/images/draw/curve_hover.png);
}

QPushButton#ArbiLineBtn:checked {
border-image: url(:/theme/light/images/draw/curve_active.png);
}

QPushButton#ArrowBtn {
border-image: url(:/theme/light/images/draw/arrow_normal.png);
}

QPushButton#ArrowBtn:hover {
outline: none;
background-color: rgba(0, 0, 0, 0.05);
border: solid 1px transparent;
border-radius: 3px;
border-image: url(:/theme/light/images/draw/arrow_hover.png);
}

QPushButton#ArrowBtn:checked {
border-image: url(:/theme/light/images/draw/arrow_active.png);
}

QPushButton#FinerLineBtn {
border-image: url(:/theme/light/images/draw/line_border_1_normal.png);
}

QPushButton#FinerLineBtn:hover {
outline: none;
background-color: rgba(0, 0, 0, 0.05);
border: solid 1px transparent;
border-radius: 3px;
border-image: url(:/theme/light/images/draw/line_border_1_hover.png);
}

QPushButton#FinerLineBtn:checked {
border-image: url(:/theme/light/images/draw/line_border_1_active.png);
}

QPushButton#FineLineBtn {
border-image: url(:/theme/light/images/draw/line_border_2_normal.png);
}

QPushButton#FineLineBtn:hover {
outline: none;
background-color: rgba(0, 0, 0, 0.05);
border: solid 1px transparent;
border-radius: 3px;
border-image: url(:/theme/light/images/draw/line_border_2_hover.png);
}

QPushButton#FineLineBtn:checked {
border-image: url(:/theme/light/images/draw/line_border_2_active.png);
}

QPushButton#MediumLineBtn {
border-image: url(:/theme/light/images/draw/line_border_3_normal.png);
}

QPushButton#MediumLineBtn:hover {
outline: none;
background-color: rgba(0, 0, 0, 0.05);
border: solid 1px transparent;
border-radius: 3px;
border-image: url(:/theme/light/images/draw/line_border_3_hover.png);
}

QPushButton#MediumLineBtn:checked {
border-image: url(:/theme/light/images/draw/line_border_3_active.png);
}

QPushButton#BoldLineBtn {
border-image: url(:/theme/light/images/draw/line_border_4_normal.png);
}

QPushButton#BoldLineBtn:hover {
outline: none;
background-color: rgba(0, 0, 0, 0.05);
border: solid 1px transparent;
border-radius: 3px;
border-image: url(:/theme/light/images/draw/line_border_4_hover.png);
}

QPushButton#BoldLineBtn:checked {
border-image: url(:/theme/light/images/draw/line_border_4_active.png);
}

PushButton#LeftRotate {
    qproperty-normalPic: url(:/theme/light/images/cut/rotate_left_normal.png);
    qproperty-hoverPic: url(:/theme/light/images/cut/rotate_left_hover.png);
    qproperty-pressPic: url(:/theme/light/images/cut/rotate_left_active.png);
    qproperty-checkedPic: url(:/theme/light/images/cut/rotate_left_active.png);
}

PushButton#RightRotate {
    qproperty-normalPic: url(:/theme/light/images/cut/rotate_right_normal.png);
    qproperty-hoverPic: url(:/theme/light/images/cut/rotate_right_hover.png);
    qproperty-pressPic: url(:/theme/light/images/cut/rotate_right_active.png);
    qproperty-checkedPic: url(:/theme/light/images/cut/rotate_right_active.png);
}

PushButton#CutButton {
qproperty-normalPic: url(:/theme/light/images/cut/cut_normal.png);
qproperty-hoverPic: url(:/theme/light/images/cut/cut_hover.png);
qproperty-pressPic: url(:/theme/light/images/cut/cut_active.png);
qproperty-checkedPic: url(:/theme/light/images/cut/cut_active.png);
}

PushButton#FlipHorizontalBtn {
qproperty-normalPic: url(:/theme/light/images/cut/flip_horizontal_normal.png);
qproperty-hoverPic: url(:/theme/light/images/cut/flip_horizontal_hover.png);
qproperty-pressPic: url(:/theme/light/images/cut/flip_horizontal_active.png);
qproperty-checkedPic: url(:/theme/light/images/cut/flip_horizontal_active.png);
}

PushButton#FlipVerticalBtn {
qproperty-normalPic: url(:/theme/light/images/cut/filp_vertical_normal.png);
qproperty-hoverPic: url(:/theme/light/images/cut/filp_vertical_hover.png);
qproperty-pressPic: url(:/theme/light/images/cut/filp_vertical_active.png);
qproperty-checkedPic: url(:/theme/light/images/cut/filp_vertical_active.png);
}

PushButton#PickerBtn {
qproperty-normalPic: url(:/theme/light/images/draw/color_draw_normal.png);
qproperty-hoverPic: url(:/theme/light/images/draw/color_draw_hover.png);
qproperty-pressPic: url(:/theme/light/images/draw/color_draw_active.png);
qproperty-checkedPic: url(:/theme/light/images/draw/color_draw_active.png);
}

ToolButton#LineMostThinBtn {
border-image: url(:/theme/light/images/draw/blur_slim_normal.png);
}

ToolButton#LineMostThinBtn:hover {
outline: none;
background-color: rgba(0, 0, 0, 0.05);
border: solid 1px transparent;
border-radius: 3px;
border-image: url(:/theme/light/images/draw/blur_slim_hover.png);
}

ToolButton#LineMostThinBtn:checked {
border-image: url(:/theme/light/images/draw/blur_slim_active.png);
}

ToolButton#LineThickLineBtn {
border-image: url(:/theme/light/images/draw/blur_thick_normal.png);
}

ToolButton#LineThickLineBtn:hover {
outline: none;
background-color: rgba(0, 0, 0, 0.05);
border: solid 1px transparent;
border-radius: 3px;
border-image: url(:/theme/light/images/draw/blur_thick_hover.png);
}

ToolButton#LineThickLineBtn:checked {
border-image: url(:/theme/light/images/draw/blur_thick_active.png);
}

