QLabel#ColorLabel {
font-weight: 300;
color: #626262;
font-size: 12px;
}

QLineEdit#ColorLineEdit {
border-radius: 3px;
border: 1px solid rgba(0, 0, 0, 26);
font-size: 12px;
}

PushButton#ColorFulButton {
    qproperty-normalPic: url(:/theme/light/images/draw/color_more_normal.svg);
    qproperty-hoverPic: url(:/theme/light/images/draw/color_more_hover.svg);
    qproperty-pressPic: url(:/theme/light/images/draw/color_more_active.svg);
    qproperty-checkedPic: url(:/theme/light/images/draw/color_more_active.svg);
}

PushButton#DisableColorButton {
qproperty-normalPic: url(:/theme/light/images/draw/color_disable_normal.png);
qproperty-hoverPic: url(:/theme/light/images/draw/color_disable_hover.png);
qproperty-pressPic: url(:/theme/light/images/draw/color_disable_active.png);
qproperty-checkedPic: url(:/theme/light/images/draw/color_disable_active.png);
}

QSlider#ColorfulSlider::groove:horizontal {
    border-image: url(:/theme/light/images/draw/slider_bg.png);
}

QSlider#ColorfulSlider::handle:horizontal {
    background: white;
    margin: 1px 5px 1px 5px;
}
