Source: deepin-draw
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: 
 debhelper,
 cmake,
 pkg-config,
 libexif-dev,
 libraw-dev,
 libgtest-dev,
 libgmock-dev,
 libxcb-util0-dev,
 qt6-base-dev | qtbase5-dev,
 libqt6opengl6 | libqt5opengl5-dev,
 qt6-svg-dev | libqt5svg5-dev,
 qt6-tools-dev | qttools5-dev,
 qt6-tools-dev-tools | qttools5-dev-tools,
 libdtk6gui-dev | libdtkgui-dev,
 libdtk6widget-dev | libdtkwidget-dev,
 libdtk6core-dev | libdtkcore5-bin,
 libdtk6core-bin | libdtkcore5-bin
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: deepin-draw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt6-image-formats-plugins | qt5-image-formats-plugins, deepin-picker-cli
Description: Draw for UOS
 Draw is a lightweight drawing tool for users to freely draw and simply edit images. 
Recommends: uos-reporter, deepin-event-log, kimageformat-plugins
