Source: deepin-draw
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: 
 debhelper,
 cmake,
 qt6-base-dev,
 pkg-config,
 libexif-dev,
 libraw-dev,
 libqt6opengl6,
 libdtk6gui-dev, 
 qt6-svg-dev,
 qt6-tools-dev,
 qt6-tools-dev-tools,
 libdtk6widget-dev,
 libdtk6gui-dev,
 libdtk6core-dev,
 libxcb-util0-dev,
 libdtk6core-bin,
 libgtest-dev,
 libgmock-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: deepin-draw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt6-image-formats-plugins, deepin-picker-cli
Description: Draw for UOS
 Draw is a lightweight drawing tool for users to freely draw and simply edit images. 
Recommends: uos-reporter, deepin-event-log, kimageformat-plugins
